<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-lg-12">
                <div class="box text-center">
                    <h1>Enter your username</h1>
                    <form action="/forgot-password" method="post">
                        <input type="text" name="username">
                        <button type="submit" class="btn btn-primary">Send email</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>