<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="box text-center py-5">
                <p class="text-center"><img src="/img/logo.png" alt="Logo"></p>
                <h3>Thank you for shopping!</h3>
                <h4 class="text-muted">We received your order and will ship to you in the following days</h4>
                <p class="text-center">You can get back to home page from here</p>
                <p class="buttons"><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>